@media only screen and (max-width: 800px) {
  .carousel-cell {
   

 
    
    
    
    background-color:  rgb(var(--color-base-accent-3));
 
 	
    
      }
      }

@media only screen and (max-width: 800px) {
.flickity-section__carousel carousel {
  width: 100%; /* full width */
  padding-left:5px;
  
}
}
@media only screen and (min-width: 1280px) {
.flickity-section__carousel {
  width: 98%; /* full width */
  padding-left:100px;
}
 
}
.flickity-viewport {
  width :100%;}
.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}


currentFlickity.on('pointerUp', function (event, pointer) {
        currentFlickity.player.play();
    });

  $(".carousel-cell")
    .mouseenter(function() {
      autoTimer = setInterval(function () {
        $carousel.next();
      }, 1000);
    })
    .mouseleave(function() {
      clearInterval(autoTimer);
    });
@media only screen and (max-width: 600px){
  .flickity-prev-next-button.previous{left:10px
}
    

@media only screen and (max-width: 600px){
  .flickity-prev-next-button.next{right:20px
}
  
  .pagewidth1{
    height:180px; 
    width:20%;
    
  }
.flickity-slider{
 padding-left:-5px}